
@import url(http://fonts.googleapis.com/css?family=Lato:400,700);
@import url(http://fonts.googleapis.com/css?family=Alike);



body
{
  margin: 0;
  background-color: #6f6f81;
  list-style-image: url("../images/star.png");
}

header {
  margin: 0 auto;
  width: 1000px;
  background-image: url("../images/flag.jpg")


}

header h1 {
  text-align: center;
  margin: 0;
  padding-top: .25em;
  color: #141237;
  font-family: Lato;
}

header h2 {
  text-align: center;
  margin: 0;
  padding-bottom: 1em;
  color: #141237;
}

h3 {
  margin: 0;
  margin-top: 10px;
  margin-bottom: 5px;
  color: #9d0609;
}

p {
  margin: 0;
  margin-bottom: 10px;
}

nav {
  margin: 0 auto;
  width: 1000px;
  padding: 5px 0;
  text-align: center;
  background-color: #9d0609;
  border-bottom: 3px solid #65668c;
  border-top: 3px solid #65668c;
  border-right: 3px solid #65668c;
  border-left: 3px solid #65668c;
}

nav a {
  margin: 0 35px;
  color: #b9b4b5;
}

.floatright {
  float: right;
  margin-left: 10px;
}

#maincolumn {
  margin: 0 auto;
  width: 1000px;
  padding: 5px 15px;
  background-color: #a5797b;
}
